<!-- views/addStore.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Store</title>
</head>
<body>
    <h1>Add Store</h1>

    <form action="/stores/add" method="post">
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="mgrid">Manager ID:</label>
        <input type="text" id="mgrid" name="mgrid" required>

        <button type="submit">Add Store</button>
    </form>

    <p><a href="/stores">Back to Stores</a></p>
</body>
</html>
