<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page1</title>
   

    <style>
        table {
            border: double;
            width: 30%;
        }

        th, td {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: grey;
        }
    </style>
</head>
<body>
    <h1>Home Page</h1>
    <ul>
        <li><a href="/stores">Stores</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/managers">Managers (MongoDB)</a></li>
    </ul>
</body>
</html>
