<!-- views/managers.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managers (MongoDB) Page</title>
</head>
<body>
    <h1>Managers (MongoDB) Page</h1>
    <ul>
        <% managers.forEach(manager => { %>
            <li>
                <%= manager.name %> - <%= manager.salary %>
            </li>
        <% }); %>
    </ul>
    <p><a href="/">Back to Home</a></p>
</body>
</html>
