<!-- views/product_store_page.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Store Page</title>
    

    <style>
        table {
            border: double;
            width: 30%;
        }

        th, td {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>


<body>
    <h1>Product Store Page</h1>
    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Store ID</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% productStore.forEach(product => { %>
                <tr>
                    <td><%= product.pid %></td>
                    <td><%= product.sid %></td>
                    <td><%= product.price %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <p><a href="/">Back to Home</a></p>
</body>
</html>
